In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

In [7]:
df.tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [15]:
df[["HP","Name","Type 1"]]

     HP                   Name   Type 1
0    45              Bulbasaur    Grass
1    60                Ivysaur    Grass
2    80               Venusaur    Grass
3    80  VenusaurMega Venusaur    Grass
4    39             Charmander     Fire
..   ..                    ...      ...
795  50                Diancie     Rock
796  50    DiancieMega Diancie     Rock
797  80    HoopaHoopa Confined  Psychic
798  80     HoopaHoopa Unbound  Psychic
799  80              Volcanion     Fire

[800 rows x 3 columns]

In [19]:
df.iloc[0:10:2]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [23]:
for i,row in df.iterrows():
    print(row["Name"])

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

In [28]:
df["Type 1"].iloc[2]

'Grass'

In [30]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [35]:
df.sort_values(["Name","Type 1"],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to data

In [36]:
df["Total"] = df["HP"]+df["Attack"]+df["Defense"]

In [38]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,320
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,250
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,310

In [46]:
df["Total"] = df.iloc[:,4:10].sum(axis=1)

In [47]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [48]:
45+49+49+65+65+45

318

In [51]:
df.drop(columns=["#"],inplace=True)

In [53]:
df.to_csv('modified.txt',index=False,sep="\t")

In [55]:
df.drop_duplicates()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

# Filter Data

In [59]:
df.loc[(df['Type 1']=="Grass") & (df["Type 2"]=="Poison") & (df["HP"]>=75)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
50,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
77,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
652,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [65]:
df.loc[df["Name"].str.contains("Mega")]
import regex as re
new_df = df.loc[df["Type 1"].str.contains("fire|grass",flags=re.I,regex=True)]

In [69]:
new_df.reset_index(drop=True,inplace=True)

In [71]:
new_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
117,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
118,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
119,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
120,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
121,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

# Conditional Changes

In [76]:
df.loc[df["Type 1"]=="Fire", "Type 1"] = "Flame Thrower"
df.loc[df["Type 1"]=="Flame Thrower", "Type 1"] = "Fire"

In [78]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [79]:
df.loc[df["Type 1"]=="Fire", ["Generation",'Legendary']] = ['Test1','Test2']

In [81]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,Test1,Test2,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,Test1,Test2,600

In [103]:
df = pd.read_csv('modified.txt',sep='\t')

In [84]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

# GroupBy

In [96]:
df.groupby(["Type 1","Type 2"]).count()

                 Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Bug    Electric     2   2       2        2        2        2      2
       Fighting     2   2       2        2        2        2      2
       Fire         2   2       2        2        2        2      2
       Flying      14  14      14       14       14       14     14
       Ghost        1   1       1        1        1        1      1
...               ...  ..     ...      ...      ...      ...    ...
Water  Ice          3   3       3        3        3        3      3
       Poison       3   3       3        3        3        3      3
       Psychic      5   5       5        5        5        5      5
       Rock         4   4       4        4        4        4      4
       Steel        1   1       1        1        1        1      1

                 Generation  Legendary  Total
Type 1 Type 2
Bug    Electric           2          2      2
       Fighting           2          2      2
       Fire               2          2      2
       Flying            14         14     14
       Ghost              1          1      1
...                     ...        ...    ...
Water  Ice                3          3      3
       Poison             3          3      3
       Psychic            5          5      5
       Rock               4          4      4
       Steel              1          1      1

[136 rows x 10 columns]

In [105]:
new_df = pd.DataFrame(columns=df.columns)
for df_ in pd.read_csv('modified.txt',sep='\t',chunksize=5):
    res = df_.groupby(["Type 1"]).count()
    new_df = pd.concat([new_df,res])

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
 11  Total       800 non-null    int64
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB